<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Ioke"
            id="org.uqbar.iokeclipse">
      </category>
      <view
            name="Console"
            icon="icons/console.png"
            category="org.uqbar.iokeclipse"
            class="org.uqbar.iokeclipse.views.console.IokeConsoleView"
            id="org.uqbar.iokeclipse.views.IokeConsoleView">
      </view>
      <view
            category="org.uqbar.iokeclipse"
            class="org.uqbar.iokeclipse.views.browser.KindView"
            icon="icons/kind.png"
            id="org.uqbar.iokeclipse.views.ObjectBrowser"
            name="Kind">
      </view>
      <view
            category="org.uqbar.iokeclipse"
            class="org.uqbar.iokeclipse.views.cell.ObjectCellsView"
            icon="icons/cell.png"
            id="org.uqbar.iokeclipse.views.ObjectCellsView"
            name="Cells">
      </view>
      <view
            category="org.uqbar.iokeclipse"
            class="org.uqbar.iokeclipse.views.doc.DocumentationView"
            icon="icons/document.gif"
            id="org.uqbar.iokeclipse.views.doc.DocumentationView"
            name="Documentation">
      </view>
      <view
            category="org.uqbar.iokeclipse"
            class="org.uqbar.iokeclipse.views.MimicsView"
            icon="icons/sample.gif"
            id="org.uqbar.iokeclipse.views.MimicsView"
            name="Mimics">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.uqbar.iokeclipse.views.IokeConsoleView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.uqbar.iokeclipse.views.ObjectBrowser"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.uqbar.iokeclipse.views.ObjectCellsView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.uqbar.iokeclipse.views.doc.DocumentationView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.uqbar.iokeclipse.views.MimicsView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.uqbar.iokeclipse.perspectives.IokePerspective"
            icon="icons/perspective.png"
            id="org.uqbar.iokeclipse.perspectives.IokePerspective"
            name="Ioke">
      </perspective>
   </extension>

</plugin>
