<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<!-- VIEWS -->

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Ioke"
            id="org.uqbar.iokeclipse">
      </category>
      <view
            name="Console"
            icon="icons/console.png"
            category="org.uqbar.iokeclipse"
            class="org.uqbar.iokeclipse.views.console.IokeConsoleView"
            id="org.uqbar.iokeclipse.views.IokeConsoleView">
      </view>
      <view
            category="org.uqbar.iokeclipse"
            class="org.uqbar.iokeclipse.views.browser.KindView"
            icon="icons/kind.png"
            id="org.uqbar.iokeclipse.views.ObjectBrowser"
            name="Kind">
      </view>
      <view
            category="org.uqbar.iokeclipse"
            class="org.uqbar.iokeclipse.views.cell.ObjectCellsView"
            icon="icons/cell.png"
            id="org.uqbar.iokeclipse.views.ObjectCellsView"
            name="Cells">
      </view>
      <view
            category="org.uqbar.iokeclipse"
            class="org.uqbar.iokeclipse.views.doc.DocumentationView"
            icon="icons/document.gif"
            id="org.uqbar.iokeclipse.views.doc.DocumentationView"
            name="Documentation">
      </view>
      <view
            category="org.uqbar.iokeclipse"
            class="org.uqbar.iokeclipse.views.MimicsView"
            icon="icons/sample.gif"
            id="org.uqbar.iokeclipse.views.MimicsView"
            name="Mimics">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.uqbar.iokeclipse.views.IokeConsoleView">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.uqbar.iokeclipse.views.ObjectBrowser"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.uqbar.iokeclipse.views.ObjectCellsView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.uqbar.iokeclipse.views.doc.DocumentationView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.uqbar.iokeclipse.views.MimicsView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.uqbar.iokeclipse.perspectives.IokePerspective"
            icon="icons/perspective.png"
            id="org.uqbar.iokeclipse.perspectives.IokePerspective"
            name="Ioke">
      </perspective>
   </extension>

<extension point="org.eclipse.ui.popupMenus"> 
	<viewerContribution 
    	  id="org.uqbar.iokeclipse.action.contribution.popup.editor"
   			targetID="#TextEditorContext"> 
   <action
         id="org.eclipse.ui.articles.action.contribution.editor.evaluateSelection" 
         label="Evaluate Selection"
         icon="icons/run_icon.png"
      	 menubarPath="org.uqbar.iokeclipse.iokemenu/group1" 
      	 class="org.uqbar.iokeclipse.editor.actions.EvaluateSelectionActionDelegate"> 
      </action>
   <action
         id="org.eclipse.ui.articles.action.contribution.editor.evaluateFile" 
         label="Evaluate File"
         icon="icons/run_icon.png"
      	 menubarPath="org.uqbar.iokeclipse.iokemenu/group1" 
      	 class="org.uqbar.iokeclipse.editor.actions.EvaluateTextFileActionDelegate"> 
      </action>   
   <menu
         id="org.uqbar.iokeclipse.iokemenu"
         label="Ioke"
         path="additions">
         <separator name="group1"/>
   </menu> 
   </viewerContribution>
 <objectContribution
       adaptable="true"
       id="org.uqbar.iokeclipse.contribution1"
       nameFilter="*"
       objectClass="org.eclipse.core.resources.IProject">
    <action
          class="org.uqbar.iokeclipse.builder.ToggleNatureAction"
          enablesFor="+"
          id="org.uqbar.iokeclipse.addRemoveNatureAction"
          label="Add/Remove Sample Nature"
          menubarPath="additions">
    </action>
 </objectContribution> 
</extension>
<extension
      point="org.eclipse.ui.bindings">
   <key
         contextId="org.eclipse.ui.contexts.window"
         schemeId="org.uqbar.iokeclipse.key1"
         sequence="org.uqbar.iokeclipse.key1">
   </key>
   <key
         commandId="org.uqbar.iokeclipse.commands.sampleCommand"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="M1+6">
   </key>
</extension>
<extension
      point="org.eclipse.ui.commands">
   <category
         id="org.uqbar.iokeclipse.commands.category"
         name="Sample Category">
   </category>
   <command
         categoryId="org.uqbar.iokeclipse.commands.category"
         id="org.uqbar.iokeclipse.commands.sampleCommand"
         name="Sample Command">
   </command>
</extension>
<extension
      point="org.eclipse.ui.handlers">
   <handler
         class="org.uqbar.iokeclipse.editor.command.evaluateSelection.EvaluateTextSelection"
         commandId="org.uqbar.iokeclipse.commands.sampleCommand">
   </handler>
</extension>
<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         locationURI="menu:org.eclipse.ui.main.menu?after=additions">
      <menu
            id="org.uqbar.iokeclipse.menus.sampleMenu"
            label="Sample Menu"
            mnemonic="M">
         <command
               commandId="org.uqbar.iokeclipse.commands.sampleCommand"
               id="org.uqbar.iokeclipse.menus.sampleCommand"
               mnemonic="S">
         </command>
      </menu>
   </menuContribution>
   <menuContribution
         locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
      <toolbar
            id="org.uqbar.iokeclipse.toolbars.sampleToolbar">
         <command
               commandId="org.uqbar.iokeclipse.commands.sampleCommand"
               icon="icons/sample.gif"
               id="org.uqbar.iokeclipse.toolbars.sampleCommand"
               tooltip="Say hello world">
         </command>
      </toolbar>
   </menuContribution>
</extension>
<extension
      id="iokeBuilder"
      name="Ioke Builder"
      point="org.eclipse.core.resources.builders">
   <builder
         hasNature="true">
      <run
            class="org.uqbar.iokeclipse.builder.IokeBuilder">
      </run>
   </builder>
</extension>
<extension
      id="IokeNature"
      name="Ioke Project Nature"
      point="org.eclipse.core.resources.natures">
   <runtime>
      <run
            class="org.uqbar.iokeclipse.builder.IokeNature">
      </run>
   </runtime>
   <builder
         id="org.uqbar.iokeclipse.iokeBuilder">
   </builder>
</extension>
<extension
      id="xmlProblem"
      name="XML Problem"
      point="org.eclipse.core.resources.markers">
   <super
         type="org.eclipse.core.resources.problemmarker">
   </super>
   <persistent
         value="true">
   </persistent>
</extension>
<extension
      point="org.eclipse.ui.newWizards">
   <category
         id="org.uqbar.iokeclipse"
         name="Ioke">
   </category>
   <wizard
         category="org.uqbar.iokeclipse"
         class="org.uqbar.iokeclipse.wizards.newfile.IokeNewFileWizard"
         icon="icons/kind.png"
         id="org.uqbar.iokeclipse.wizards.newfile.IokeNewFileWizard"
         name="Ioke file">
   </wizard>
</extension>

<!-- TEXT EDITOR -->
	<extension
         point="org.eclipse.ui.editors">
      <editor
            name="Ioke Editor"
            extensions="ik"
            icon="icons/kind.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="org.uqbar.iokeclipse.editor.IokeEditor"
            id="org.uqbar.iokeclipse.editor.IokeEditor">
         <contentTypeBinding
               contentTypeId="org.uqbar.iokeclipse.editor.iokeContentType">
         </contentTypeBinding>
      </editor>
   </extension>
   <!-- content type -->
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions=".ik"
            id="org.uqbar.iokeclipse.editor.iokeContentType"
            name="Ioke"
            priority="normal">
      </content-type>
      <file-association
            content-type="org.uqbar.iokeclipse.editor.iokeContentType"
            file-extensions=".ik">
      </file-association>
   </extension>
   <!-- /content type -->
   <!-- context -->
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.uqbar.iokeclipse.editor.iokeContext"
            name="iokeContext">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.uqbar.iokeclipse.actionSet"
            label="Sample Action Set"
            visible="true">
         <menu
               id="sampleMenu"
               label="&amp;Ioke">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="org.uqbar.iokeclipse.actions.EvaluateEditorContentAction"
               icon="icons/run_icon.png"
               id="org.uqbar.iokeclipse.actions.evaluate"
               label="&amp;Evaluate"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Evaluate File">
         </action>
      </actionSet>
   </extension>
   <!-- /context -->
<!-- /TEXT EDITOR -->


</plugin>
